<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body ng-app="sampleApp">
  <!-- Test -->
  <div ng-controller="SampleCtrl" class="container">
    <div  class="row">
      <div class="col-md-4">
          Valor Dolar: <input type="text" ng-model="valorDolar"  />
      </div>

    </div>
    <div  class="row">

      <div class="col-md-4">
        <ul>

          <li ng-repeat="movimiento in movimientos">
            {{movimiento.glosa}} - {{movimiento.valor * valorDolar}}
          </li>

        </ul>


          <div id="mensaje" aria-live="assertive" aria-relevant="all">
            <div>{{valorDolar}}</div>
          </div>


      </div>
    </div>
    <div class="row">
        <input type="button" value="Llamar" ng-click="llamar()"/>
    </div>
  </div>


    <!-- build:js({.,app}) scripts/vendors.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- endbuild -->

    <!-- build:js({.,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers.js"></script>

    <!-- endbuild -->


    <script src="scripts/demo.js"></script>

</body>

</html>
